In [1]:
import numpy as np
import pandas as pd

# Q1. Pandas version
What's the version of Pandas that you installed?

You can get the version information using the __version__ field:

In [2]:
pd.__version__

'2.3.2'

# Getting the data
For this homework, we'll use the Car Fuel Efficiency dataset. Download it from here.

You can do it with wget:
```
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
```
Or just open it with your browser and click "Save as...".


Now read it with Pandas.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# Q2. Records count
How many records are in the dataset?

In [4]:
len(df)

9704

# Q3. Fuel types
How many fuel types are presented in the dataset?

In [5]:
df['fuel_type'].nunique()

2

# Q4. Missing values
How many columns in the dataset have missing values?

In [6]:
len(df.columns[df.isnull().any()])

4

# Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [7]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

# Q6. Median value of horsepower
- Find the median value of horsepower column in the dataset.
- Next, calculate the most frequent value of the same horsepower column.
- Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
- Now, calculate the median value of horsepower once again.

In [8]:
df['horsepower'].median()

np.float64(149.0)

In [9]:
most_friquent_horsepower = df['horsepower'].mode()
df['horsepower'].fillna(most_friquent_horsepower)
df['horsepower'].median()

np.float64(149.0)

# Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [10]:
X = df[df['origin'] == 'Asia'][['vehicle_weight','model_year']].head(7).values
XT = X.T
XTX = XT.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(XT).dot(y).sum()
w

np.float64(0.5187709081074016)